# Database
DATABASE_URL=postgresql://username:password@localhost:5432/database_name


# JWT Authentication
JWT_SECRET_KEY=your-secret-key-here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60


# Email Restriction
ALLOWED_EMAIL_DOMAIN=niter.edu.bd


# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
EMAIL_FROM=your-email@gmail.com
BREVO_API_KEY=your-brevo-api-key-here


# Frontend
FRONTEND_URL=http://localhost:5173